{% extends "app/base.html" %}
{% load static %}
{% block content %}

<div class="jumbotron">
  <div class="container">
    <div class="d-flex justify-content-between mb-4">
      <h2 class="custom-title text-center">Lista de cursos da UFPB</h2>
      <form class="d-flex w-25" role="search">
        <input id="search-bar" class="form-control me-2" type="search" placeholder="Pesquisar cursos" aria-label="Search">
      </form>
    </div>

    <ul id="results-list" class="list-group">
      {% for curso in lista %}
      <a id="curso" href="{% url 'app:detalhes_curso' curso.id %}">
        <li class="list-group-item">{{ curso.nome }}</li>
      </a>
      <br>
      {% endfor %}
    </ul>
  </div>
</div>

  <script>
    const searchInput = document.getElementById('search-bar');
    const resultsList = document.getElementById('results-list');

    searchInput.addEventListener('input', function () {
      const query = searchInput.value;

      // Faça uma solicitação AJAX para a view "cursos"
      fetch(`/cursos/?query=${query}`)
        .then(response => response.text())
        .then(data => {
          // Atualize a lista de resultados com o HTML retornado pela view
          data = data.substring(data.indexOf('list-group">')+21);
          data = data.substring(0,data.indexOf('</ul>'));
          resultsList.innerHTML = data;
          
        })
        .catch(error => {
          console.error(error);
        });
    });
  </script>

{% endblock content %}