{% extends "app/base.html" %}

{% block content %}

<div class="jumbotron">
  <div class="container">
    <h2 style="margin-bottom: 50px;">Lista de cursos da UFPB</h2>
    <input type="text" id="search-bar" placeholder="Pesquisar cursos" style="margin-bottom: 30px;">
    <div id="results-list" style="height:250px;width:90%;overflow:hidden;overflow-y: scroll;">
      {% for curso in lista %}
      <a id="curso" href="{% url 'app:detalhes_curso' curso.id %}">{{ curso.nome }}</a><br>
      {% endfor %}
    </div>
  </div>
</div>

  <script>
    const searchInput = document.getElementById('search-bar');
    const resultsList = document.getElementById('results-list');

    searchInput.addEventListener('input', function () {
      const query = searchInput.value;

      // Faça uma solicitação AJAX para a view "cursos"
      fetch(`/cursos/?query=${query}`)
        .then(response => response.text())
        .then(data => {
          // Atualize a lista de resultados com o HTML retornado pela view
          data = data.substring(data.indexOf('overflow-y: scroll;">')+21);
          data = data.substring(0,data.indexOf('</div>'));
          resultsList.innerHTML = data;
          
        })
        .catch(error => {
          console.error(error);
        });
    });
  </script>

{% endblock content %}