{% extends "app/base.html" %}

{% block content %}

  <div class="jumbotron">
    <div class="container">
      <h2>Bem-vindo ao SouUFPB, um sistema que te permite:</h2>
      <hr class="my-4">
      <p>
        Fazer um teste vocacional e descobrir 
        os cursos que possui afinidade
      </p>
      <p>
        Ter acesso a informações sobre os 131 cursos ativos na instituição.
      </p>
    
      <div class="row mt-5 ml-0">
        <a href="{% url 'app:teste' %}">
          <button type="button" class="btn btn-primary btn-lg mr-3">Teste vocacional</button>
        </a>
        <a href="{% url 'app:cursos' %}">
          <button type="button" class="btn btn-success btn-lg mr-3">Lista de cursos</button>
        </a>
      </div>
    </div>
  </div>


{% endblock content %}
