{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SouUFPB</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/inicial.css' %}">

</head>
<body>

    <div class="column">
      <img class="logo" src="/static/logo.png"/>
      <h2 id="bem-vindo" style="color:white;">Bem-vindo!</h2>
      <h6 style="color:white; height: 2vh; margin:0;">Acesse sua conta</h6>
      <a class="btn btn-primary" id="entrar" href="{% url 'app:login' %}" style="width: 50%; border-radius: 30px;">ENTRAR</a>
    </div>
    
    <div class="signup">
      <form method="post">
          <h2 style="padding-top: 20vh;padding-bottom: 20px; color: #3b99c1;text-align: center;">Crie sua conta</h2>
          {% csrf_token %}
          {% include 'includes/form.html' with form=form %}
          <input class="btn btn-primary" type="submit" value="CADASTRAR" style="width:100%;">
      </form>
    </div>
    
  </body>
  </html>