{% extends "app/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<style>
    p {
        
        color: #333333;
    }
</style>

<div class="column">
    <div class="row">
        <div class="column w-100">
            <h5 class="fw-bold custom-subtitle">DADOS CADASTRAIS</h5>
        </div>
    </div>
    <hr>
    <div class="row">
        <h6 class="fw-bold custom-subtitle">Usuário:&nbsp;</h6>
        <h6 class="bs-light-bg-subtle">{{ request.user.username }} </h6>
    </div>
    <div class="row">
        <h6 class="fw-bold custom-subtitle">E-mail:&nbsp;</h6>
        <h6>{{ request.user.email }}</h6>
    </div>
</div>
<hr>
<div class="row">
    <div class="column w-100">
        <h5 class="fw-bold custom-subtitle">RESULTADOS DO ÚLTIMO TESTE VOCACIONAL</h5>
    </div>
    
    <div class="column w-100 mt-4">
        <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Exatas</th>
                <th scope="col">Biológicas</th>
                <th scope="col">Engenharias</th>
                <th scope="col">Saúde</th>
                <th scope="col">Agrárias</th>
                <th scope="col">Linguística</th>
                <th scope="col">Sociais</th>
                <th scope="col">Humanas</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Pontos</th>
                <td>{{ resultado.exatas }}</td>
                <td>{{ resultado.biologicas }}</td>
                <td>{{ resultado.engenharias }}</td>
                <td>{{ resultado.saude }}</td>
                <td>{{ resultado.agrarias }}</td>
                <td>{{ resultado.linguistica }}</td>
                <td>{{ resultado.sociais }}</td>
                <td>{{ resultado.humanas }}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>



   

{% endblock %}
