# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django:
*.log
*/settings.py

# Environments
.venv
venv/
.vscode/

# Django migrations
**/migrations/**
!**/migrations
!**/migrations/__init__.py
