
.column {
    width: 35%;
    height: 100%;
    padding-bottom: 24vh;
    padding-top: 20vh;
    display: inline-flex;
    background-color: #3b99c1;
    align-items: center;
    flex-direction: column;
    float: left;
}

.logo {
    height: 20vh;
    width: auto;
    margin-bottom: 10vh;
}

.signup {
    display: inline-flex;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;
    margin-right: 0;
    width: 65%;
    justify-content: center;
}

.btn {
    background-color: #3b99c1;
    border-radius: 30px;
}

#entrar {
    height: 6vh;
    margin-top: 4vh;
    margin-bottom: 0;
    background-color: #0069d9 ;
}

#bem-vindo {
    height: 4vh;
    margin-bottom: 10vh;
}